@page
@model TKS.Web.Pages.Category.IndexModel
@{
    ViewData["Title"] = "View all categories";
}

<section class="section" id="all_category">
    <div class="allposts__wrap container flex">
        <p class="section__label touppersection__label">Product Categories</p>
        <a class="page__links" asp-page="./Create">New</a>
        <table class="table table__middle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category Code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.CategoyCode
                        </td>
                        <td>
                            <div class="table__actions-wrap">
                                <a class="btn btn__small" asp-page="Details" asp-route-id="@item.Id">Details</a>
                                
                                <a class="btn btn__small" asp-page="/admin/editpost" asp-route-id="@item.Id">
                                    Edit
                                </a>
                                <a class="btn danger btn__small" asp-page="/admin/deletepost" asp-route-id="@item.Id">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</section>