@page
@model TKS.Web.Pages.Products.ByCategoryModel

@{
    ViewData["Title"] = $"View all products by category: {Model.Category.Name}";
}


<section class="section" id="products_byCategory">
    <div class="container flex">
        <p class="section__label touppersection__label">View products in category: @Model.Category.CategoryDescription</p>
        @if(@Model.Products != null  && Model.Products.Count >= 1){
        <table class="table table__middle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category Code</th>
                    <th>Price</th>
                    <th>Stock Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <img photo="@item.Photo" Type="Thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoyCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockCount)
                        </td>
                        <td>
                            <div class="table__actions-wrap">
                                <a class="btn btn__small" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn__small" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn__small" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        }
        else{
            <div class="flex no_products_found_wrapper">
                <h3>No Products found for category @Model.Category.Name</h3>
            </div>
        }
        
    </div>
</section>