@page
@model TKS.Web.Pages.Products.DetailsModel

@{
    ViewData["Title"] = $"Details for {Model.Product.Title}";
}

<section class="section" id="details_category">
    <div class="container flex">
        <dl class="disc__list">
            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Product.Description)
            </dd>
            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Product.Title)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Product.Title)
            </dd>
            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Product.Photo)
            </dt>
            <dd class="disc__list-item">                
                <img photo="@Model.Product.Photo" Type="Thumbnail" />
            </dd>
            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Product.Likes)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Product.Likes)
            </dd>
        </dl>
        <br />
        <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</section>
